.index h1{
	color:#049cdb;
}
ul{
	list-style-type : none;
}
.index h2{
	color:#9d261d;
}
img{
	height: 100px;
	width: 100px;
	float:left;
}
#content{
	background-color:#CCCCCC;
	border:2px solid white;
}
#forms{
	background-color:#CCCCCC;
	border:2px solid white;
}

#order{
	clear:both;
	float:right;

}
#l1{
	float:right;
	margin-top:-20px;
	margin-right:110px;

}
#search{
	float:right;
	margin-top:-50px;
}
#albums{
	margin-left: 100px;s
}
#detail{
	color:white;
}
#bands, body ,html{
	
	background: #000000;

}
#save{
	margin-left:1800px;	
}
#index #songli{
	color:#46a546;
}
#detail p{
	width: 800px;
	font-family:"Times New Roman", Times, sans-serif;
	font-size: 20px;
	float:left;
	clear: left;
}
#detail img{
	float:right;
	width:640px;
	height:480px;
	margin-right: 100px;
}
#liband{
	margin-top:50px;
}
#detail .band-thumbs img{
	float:left;
	width:240px;
	height:180px;
	margin-right: 100px;
}
