h1{
	color:blue;
}
ul{
	list-style-type : none;
}
h2{
	color:red;
}
a{
	text-decoration: none;
}
form{
	margin-left:50px; 
}
img{
	height: 100px;
	width: 100px;
	float:left;
}
#content{
	background-color:#AAAAAA;
	border:2px solid white;
}
#forms{
	background-color:#AAAAAA;
	border:2px solid white;
}

#order{
	float:right;
	margin-top:-20px;
}
#l1{
	float:right;
	margin-top:-20px;
	margin-right:110px;

}
#search{
	float:right;
	margin-top:-50px;
}
#albums{
	margin-left: 100px;
}
#detail{
	color:white;
}
html{
	background-color:black;
}